.layoutHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    min-height: 97px;  
    width: 100%;
    background-color: var(--green-200);
    
    padding-left: 30px;
    padding-right: 30px;
  }

  .logoAvatar {
    border-radius: 50%;
  }
  