@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,700&display=swap");

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: blueviolet;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

a:hover,
a:focus {
  color: #3e0994;
  text-decoration: none;
}
