:root {
  --cor-purple-alpha: #4f1c5c;
  --cor-purple-bravo: #d089e1;
  --cor-purple-charlie: #bd44db;
  --cor-purple-delta: #55385c;
  --cor-purple-echo: #9034a8;
  --cor-purple-footer: #200235;
}

.layout-header {
  height: 120px;
  line-height: 100px;
  padding-left: 20px;
  width: 100%;
  background-color: var(--cor-purple-footer);
}

.layout-header--home {
  position: fixed;

  top: 0;
  left: 0;
  bottom: 0;

  z-index: 999999999;

  background-color: var(--cor-purple-footer);
}

.layout-odd,
.layout-even,
.layout-footer {
  padding: 120px 20px;
  padding-top: 110px;
  padding-left: 10px;
  line-height: 1.6;
}

.layout-ola--mundo {
  padding-top: 110px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.layout-portifolio {
  padding-top: 40px;
  line-height: 1.6;
}

.layout-contato {
  padding-top: 40px;
  line-height: 1.6;
  padding-bottom: 40px;
}

@media (max-width: 749px) {
  .layout-portifolio .row > div:not(.ultima-coluna) {
    margin-bottom: 40px;
  }
}

.layout-odd,
.layout-contato {
  background-color: var(--cor-purple-echo);
}

.layout-even,
.layout-portifolio {
  background-color: var(--cor-purple-charlie);
}

.layout-footer {
  background-color: var(--cor-purple-footer);
  text-align: center;
}
