@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background: #50065a;
  text-decoration: none;
}

.logo {
  text-align: center;
}

.logo > img {
  width: 10px;
  height: 10px;
  color: #fff;
}

.menu__item {
  text-decoration: none;
}
