.menu {
  text-align: center;
  list-style-type: none;
}

.menu__item {
  padding-left: 20px;
}

.logo-img {
  padding-top: 10px;
}

.logo,
.menu,
.menu__item {
  display: inline;
}

.footer-main {
  text-align: center;
}

.gp-entrada {
  margin: 15px;
}

.gp-entrada > label {
  display: block;
  padding-bottom: 5px;
}

.gp-entrada > input {
  outline: none;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  height: 35px;
  width: 100%;
}

.gp-entrada > input:focus,
input:hover {
  text-decoration: none;
}

.botao {
  display: block;
  width: 100%;
  padding: 0.8em 1.2em;
  padding-left: 20px;
  padding-top: 10px;

  background-color: #4c1075;
  color: #fff;
  border: none;

  line-height: normal;
  font-size: 1em;
  text-decoration: none !important;
  border-radius: 15px 15px 15px 15px;

  cursor: pointer;
}

.botao:hover,
.botao:focus {
  background-color: #380c55;
}

.contato-text {
}
