.menu {
  text-align: center;
  list-style-type: none;
}

.menu__item {
  font-size: 1.4rem;
  padding-left: 20px;
}

.logo-img {
  padding-top: 10px;
}

.logo,
.menu,
.menu__item {
  display: inline;
}

.footer-main {
  text-align: center;
}

.gp-entrada {
  margin: 15px;
}

.gp-entrada > label {
  display: block;
  padding-bottom: 5px;
}

.gp-entrada > input {
  outline: none;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  height: 35px;
  width: 100%;
}

.gp-entrada > input:focus,
input:hover {
  text-decoration: none;
}

.botao {
  display: block;
  width: 100%;
  padding: 0.8em 1.2em;
  padding-left: 20px;
  padding-top: 10px;

  background-color: #4c1075;
  color: #fff;
  border: none;

  line-height: normal;
  font-size: 1em;
  text-decoration: none !important;
  border-radius: 15px 15px 15px 15px;

  cursor: pointer;
}

.botao:hover,
.botao:focus {
  background-color: #380c55;
}

.navegacao {
}

.navegacao__menu {
  float: right;
}

/**------ Botao Chaveador ------**/
.botao-chaveador {
  width: 24px;
  height: 24px;

  border: 0;

  background: none;
  background-image: url("../img/bars.png");

  outline: none;
}

@media (min-width: 992px) {
  .botao-chaveador {
    display: none;
  }
}

/**------ Fim do Botao Chaveador ------**/

.square-portifolio {
  position: relative;
  padding: 10px;
  border: 1px solid #680aa7;
  border-radius: 10px;

  margin-bottom: 30px;

  background-color: #680aa7;

  font-size: 1.4rem;

  width: 310px;
}

.square-portifolio > img {
  border-radius: 20px;
  padding-left: 10px;
  width: 260px;
  height: 190px;
}

.img--quem-sou {
  margin-top: 120px;
  text-align: center;
}
